{% extends "templates/layout.html" %}
{% block content %}

<div class="section light-purple">
   <div class="container">
      {% with lastrecord = data|last %}
      <h2>Bikes today: {{ lastrecord.today}}</h2>
      <h2>Bikes this hour: {{lastrecord.thishour}}</h2>
      {% endwith %}
   </div>
</div>

<div class="section light-pink">
   <div class="container">
      <h2>Last 48 hours</h2>
      <div id="bargraph"></div>
      <script>
       var datasource = [
         {% for record in data %}
         {count: {{record.thishour}}, time: '{{record.ts}}'},
         {% endfor%}]
      </script>
   </div>
</div>

{% endblock %}
