<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>🚴 Brussels Bikecounter</title>
      {% style "/css/main.css" %}
      {% script "webjars/d3js/4.10.2/d3.js" %}
   </head>
   <body>
      <div class="bg-bike">
         <h1 class="bg-title">Bikecounter. Rue de la Loi</h1>
      </div>
      <div class="container">
         {% block content %}
         {% endblock %}
      </div>
      {% script "/js/graphs.js" %}
   </body>
</html>
